body{
 background-image: url("OptimizedPeopleMover.jpg");
 background-size: cover;
 overflow: hidden;
}
#london{
	color:red;
}
#map {
  height: 300px;    
}
#maprow{
	height: 50%;
}
#searchcol{
	padding-top: 10px;
}

.panel-transparent {
	background: rgba(245, 245, 245, 0.6)!important;
}
#title{
	text-align: center;
	font-family: 'Yellowtail', cursive;
	font-size: 78px;
}
.navbar-brand{
	font-family: 'Yellowtail', cursive;
}