body{
 background-image: url("OptimizedPeopleMover.jpg");
 background-size: 100%;
 overflow: hidden;
}
#london{
	color:red;
}
#map {
  height: 300px;    
}
#maprow{
	height: 50%;
}
#searchcol{
	padding-top: 10px;
}

.panel-transparent {
	background: rgba(245, 245, 245, 0.6)!important;
}