body{
 background-image: url("OptimizedPeopleMover.jpg");
 background-size: cover;
 
}
#index{
 background-image: url("OptimizedPeopleMover.jpg");
 background-size: cover;
 overflow: hidden;
}
#london{
	color:red;
}
#map {
  height: 300px;    
}
#maprow{
	height: 50%;
}
#searchcol{
	padding-top: 10px;
}

.panel-transparent {
	background: rgba(245, 245, 245, 0.6)!important;
}
#title{
	text-align: center;
	font-family: 'Yellowtail', cursive;
	font-size: 78px;
	margin-bottom: 0 !important;
}
.text-center{
	font-family: 'Yellowtail', cursive;
	font-size: 38px;
}
#aboutdesc{
	text-align: center;
	font-family: 'Yellowtail', cursive;
	font-size: 28px;
}
.navbar-brand{
	font-family: 'Yellowtail', cursive;
}
#desc{
	text-align: center;
	font-family: 'Yellowtail', cursive;
	font-size: 38px;
	margin-top: -15 !important;
}

